<!DOCTYPE html>
<html>
  <head>
    <title>Hitchspots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/css/typeahead2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/home4.css">
  </head>
  <body>
    <div class="home bg">
      <h1>Get <a href="https://hitchwiki.org/maps/">Hitchwiki</a> spots into <a href="https://organicmaps.app/">Organic Maps</a> (or <a href="https://maps.me">MAPS.me</a>)</h1>
      <div class="form-wrapper">

        <ul id="kind-tabs" class="nav nav-tabs nav-justified">
          <li role="presentation" class="active"><a href="#trip-tab">Trip</a></li>
          <li role="presentation"><a href="#country-tab">Country</a></li>
        </ul>

        <div class="tab-content home-form">
          <div role="tabpanel" class="tab-pane active" id="trip-tab">
            <form method="GET" action="/v2/trip">
              <div data-target="places-inputs">
                <%= erb :_trip_origin, locals: { place: @home.trip.places.first } %>
                <% (@home.trip.places[1..-2] || []).each_with_index do |place, index| %>
                  <%= erb :_trip_intermediate, locals: { place: place, index: index + 1} %>
                <% end %>
                <%= erb :_trip_destination, locals: { place: @home.trip.places.last, index: @home.trip.places.size - 1 } %>
              </div>

              <button type="button" class="btn btn-default block inline-input-label margin-bottom-15" title="Add a destination" onClick="addPlaceToTrip()" data-target="add-trip-button">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              </button>

              <button type="submit" class="btn btn-success block" title="Send this file to your phone and import it into Organic Maps">Generate Bookmarks File</button>
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="country-tab">
            <form method="GET" action="/country">
              <div class="form-group">
                <label for="iso_code">All spots for</label>
                <select class="form-control" id="iso_code" name="iso_code">
                  <% ::Hitchspots::Country::COUNTRIES.each do |country| %>
                    <option value="<%= country.first %>" <%= 'selected="selected"' if country.first == @home.country.iso_code %>><%= country.last %></option>
                  <% end %>
                </select>
              </div>
              <button type="submit" class="btn btn-success btn-submit" title="Send this file to your phone and import it into Organic Maps">Generate Bookmarks File</button>
            </form>
          </div>
        </div>

        <% if @home.error %>
          <p class="text-error"><%= @home.error[:message] %></p>
        <% end %>
      </div>
    </div>
    <footer class="footer">
      <hr>
      <span class="left">Made by <a href="http://www.norydev.com">norydev</a></span>
      <span class="right">Open Source <a href="https://github.com/norydev/hitchspots">code</a></span>
    </footer>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap2.min.js"></script>
    <script src="/js/typeahead.bundle.min.js"></script>
    <script src="/js/typeahead-address-photon2.min.js"></script>
    <script src="/js/hitchspots4.js"></script>
  </body>
</html>
