<!DOCTYPE html>
<html>
  <head>
    <title>Hitchspots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/typeahead.min.css">
    <link rel="stylesheet" type="text/css" href="/css/home3.css">
  </head>
  <body>
    <div class="home bg">
      <h1>Get <a href="http://hitchwiki.org/maps/">Hitchwiki</a> spots into <a href="https://maps.me/en/home">MAPS.me</a></h1>
      <div class="form-wrapper">

        <ul id="kind-tabs" class="nav nav-tabs nav-justified">
          <li role="presentation" class="active"><a href="#trip-tab">Trip</a></li>
          <li role="presentation"><a href="#country-tab">Country</a></li>
        </ul>

        <div class="tab-content home-form">
          <div role="tabpanel" class="tab-pane active" id="trip-tab">
            <form method="GET" action="/trip">
              <div class="form-group">
                <label for="from">From</label>
                <input id="from" type="text" class="form-control" name="from" placeholder="Geneva" required="true" autocomplete="off" value="<%= @home.trip.from.name %>">
                <input id="from_lat" type="hidden" name="from_lat" value="<%= @home.trip.from.lat %>">
                <input id="from_lon" type="hidden" name="from_lon" value="<%= @home.trip.from.lon %>">
              </div>
              <div class="form-group">
                <label for="to">To</label>
                <input id="to" type="text" class="form-control" name="to" placeholder="Zürich" required="true" autocomplete="off" value="<%= @home.trip.to.name %>">
                <input id="to_lat" type="hidden" name="to_lat" value="<%= @home.trip.to.lat %>">
                <input id="to_lon" type="hidden" name="to_lon" value="<%= @home.trip.to.lon %>">
              </div>
              <button type="submit" class="btn btn-success btn-submit" title="Send this file to your phone and import it into MAPS.me">Generate MAPS.me Bookmarks</button>
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="country-tab">
            <form method="GET" action="/country">
              <div class="form-group">
                <label for="iso_code">All spots for</label>
                <select class="form-control" id="iso_code" name="iso_code">
                  <% ::Hitchspots::Country::COUNTRIES.each do |country| %>
                    <option value="<%= country.first %>" <%= 'selected="selected"' if country.first == @home.country.iso_code %>><%= country.last %></option>
                  <% end %>
                </select>
              </div>
              <button type="submit" class="btn btn-success btn-submit" title="Send this file to your phone and import it into MAPS.me">Generate MAPS.me Bookmarks</button>
            </form>
          </div>
        </div>

        <% if @home.error %>
          <p class="text-error"><%= @home.error[:message] %></p>
        <% end %>
      </div>
    </div>
    <footer class="footer">
      <hr>
      <span class="left">Made by <a href="http://www.norydev.com">norydev</a></span>
      <span class="right">Open Source <a href="https://github.com/norydev/hitchspots">code</a></span>
    </footer>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap2.min.js"></script>
    <script src="/js/typeahead.bundle.min.js"></script>
    <script src="/js/typeahead-address-photon.min.js"></script>
    <script src="/js/hitchspots2.js"></script>
  </body>
</html>
